{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-redux-saga",
    [
        "module-resolver",
        {
            "root": ["."],
            "alias": {
              "@": "."
            }
        }
    ]
  ]
}